@tailwind base;
@tailwind components;
@tailwind utilities;


body, html {
  overflow: hidden;
}



/* Hide scrollbar for webkit browsers */
.custom-scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.custom-scrollbar-hidden {
  scrollbar-width: none;
}



@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.marquee {
  display: flex;
  animation: marquee 30s linear infinite;
  width: max-content;
  white-space: nowrap;
}

.marquee:hover {
  animation-play-state: paused;
} 

